<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Log In</title>
	</head>
	<body>
		<nav>
			<a href="/">Home</a>
			<% if (!currentUser) { %>
			<a href="/signup">Sign Up</a>
			<a href="/login">Log In</a>
			<% } %> <% if (currentUser) { %>
			<form method="POST" action="/logout">
				<button>Log Out</button>
			</form>
			<%}%>
		</nav>

		<form method="POST" action="/login">
			<label for="email">Email:</label>
			<input type="email" name="email" id="email" />

			<label for="password">Password:</label>
			<input type="password" name="password" id="password" />

			<button>Log In</button>
		</form>
	</body>
</html>
